

/* #game-container.small {
    grid-template-columns: repeat(auto-fill, 180px);
    grid-auto-rows: 270px;
    gap: 20px 12px
}

@media (max-width:1024px) {
    #game-container {
        grid-template-columns: repeat(auto-fill, 180px);
        grid-auto-rows: 270px;
        gap: 20px 12px
    }
}

#game-container.smaller {
    grid-template-columns: repeat(auto-fill, 140px);
    grid-auto-rows: 210px;
    gap: 16px 8px
}

@media (max-width:768px) {
    #game-container {
        grid-template-columns: repeat(auto-fill, 140px);
        grid-auto-rows: 210px;
        gap: 16px 8px
    }
}

#game-container.smallest {
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 150px;
    gap: 12px 6px
}

@media (max-width:480px) {
    #game-container {
        grid-template-columns: repeat(auto-fill, 100px);
        grid-auto-rows: 150px;
        gap: 12px 6px
    }
}

#game-container.umm {
    grid-template-columns: repeat(auto-fill, 60px);
    grid-auto-rows: 90px;
    gap: 6px 3px
}

#game-container.wtf {
    grid-template-columns: repeat(auto-fill, 360px);
    grid-auto-rows: 540px;
    gap: 40px 24px
} */



/* 
.game-wrapper:active,
.panel-shard {
    transition-timing-function: cubic-bezier(0, .73, .48, 1)
}

.panel-shard {
    opacity: .1;
    cursor: pointer;
    width: 220%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(235, 245, 255, 0)0, rgba(235, 245, 255, .85) 12px, rgba(235, 245, 255, .75) 20%, rgba(210, 210, 210, 0) 60%, rgba(10, 10, 10, 0) 85%, rgba(10, 10, 10, .8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: rotateZ(212deg) translateX(12%) translateY(59%);
    z-index: 10;
    transition-property: transform, opacity;
    transition-duration: .6s
} */
/* 
*/
