html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #e0e0e0;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    background: url(../img/cluster_bg.png) bottom center no-repeat #1b2838;
    user-select: none;
    box-sizing: border-box
}

a {
    display: block;
    width: fit-content;
    font-family: "Motiva Sans", Sans-serif;
    cursor: pointer;
    font-weight: 550;
    font-size: 12px;
    color: #afafaf
}

.login-screen {
    background: radial-gradient(rgba(24, 26, 33, 0) 0, #181a21 100%) 0 0/cover no-repeat fixed, url(https://community.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg) center top/cover no-repeat, 0 0/cover #1b2838;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eae8e8;
    z-index: 99999;
    inset: 0
}

#login-form {
    background-color: #181a21;
    border-radius: 8px;
    padding: 22px 30px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
    display: grid;
    gap: 16px
}

#login-form.login-error .cred-input {
    border-color: #c15755
}

#login-form.login-error #error-display {
    color: #c15755;
    font-size: 12px;
    font-weight: 500;
    text-align: center
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 4px;
}

.input-wrapper.row {
    flex-direction: row;
    justify-content: center;
}

.input-wrapper .input-label {
    font-size: 12px;
    color: #afafaf;
    text-transform: uppercase;
    letter-spacing: .02em;
    user-select: none;
    margin: 4px 0
}

.input-wrapper .cred-input {
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    background-color: #32353c;
    outline: 0;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.333);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.button-container [type=submit]#submit {
    width: 100%;
    max-width: 270px;
    background: linear-gradient(90deg, #06bfff 0, #2d73ff 100%);
    border-radius: 2px;
    border: none;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer
}

.button-container [type=submit]#submit[disabled] {
    opacity: .5;
    cursor: not-allowed
}

@media (max-width: 768px) {
    #login-form {
        padding: 1rem;
        max-width: 90vw;
    }

    .button-container button {
        font-size: 0.9rem;
        padding: 0.65rem;
    }
}

@media (max-width: 480px) {
    html, body {
        font-size: 14px;
    }

    .login-screen {
        padding: 2vw;
    }

    #login-form {
        padding: 1rem;
    }

    .cred-input {
        font-size: 0.95rem;
    }

    .button-container [type=submit]#submit {
        font-size: 0.95rem;
        padding: 0.65rem;
    }
}